/* static/styles.css */

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
    background-color: white;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

header {
    background: #333;
    color: #fff;
    padding: 20px;
    border-bottom: #0779e4 3px solid;
    text-align: center;
}

header h1 {
    margin: 0;
    font-size: 2em;
}

header nav {
    margin-top: 10px;
}

header a {
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
}

header ul {
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: center;
}

header ul li {
    padding: 0 20px;
}

header ul li a {
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
}

header ul li a:hover {
    color: #0779e4;
}

footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
    margin-top: 30px;
}

.alert {
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
}

.alert.success {
    background-color: #4caf50;
    color: white;
}

.alert.error {
    background-color: #f44336;
    color: white;
}

form p {
    margin: 0 0 10px;
}

form {
    display: flex;
    flex-direction: column;
}

form p:last-child {
    align-self: flex-end;
}
